.body {
  text-align: center;
}


.bgimage {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  }

.head {
    font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}


.navbar {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

h2 {
  font-family: He;vetica;
  font-size: 32px;
  font-weight: bold;
}
